RewriteEngine On

RewriteRule ^usuarios/?$ api.php?resource=usuarios [L]
RewriteRule ^transacao/?$ api.php?resource=transacao [L]
RewriteRule ^planejamento_mensal/?$ api.php?resource=planejamento_mensal [L]
RewriteRule ^usuarios/([^/]+)/([^/]+)/?$ api.php?resource=usuarios&column=$1&value=$2 [L]
RewriteRule ^transacao/([^/]+)/([^/]+)/?$ api.php?resource=transacao&column=$1&value=$2 [L]
RewriteRule ^planejamento_mensal/([^/]+)/([^/]+)/?$ api.php?resource=planejamento_mensal&column=$1&value=$2 [L]
RewriteRule ^categorias/?$ api.php?resource=categorias [L]
RewriteRule ^categorias/([^/]+)/([^/]+)/?$ api.php?resource=usuarios&column=$1&value=$2 [L]